<html>
<head>
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>

    <canvas id="canvas" width="1920" height="1080">
        You really badly need to use a different browser.
    </canvas>

    <!-- Library Includes -->
    <script type="text/javascript" src="../scripts/vendor/three/three.js"></script>
    <script type="text/javascript" src="../scripts/vendor/three/THREEx.WindowResize.js"></script>
    <script type="text/javascript" src="../scripts/vendor/dat.gui.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/leap/leap-0.6.0.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/leap/leap-plugins-0.1.6.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/leap/leap.rigged-hand-0.1.4.js"></script>
    <script type="text/javascript" src="../scripts/vendor/tween/TweenMax.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/underscore-1.3.3.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/socket.io-0.9.10.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/Tuio.min.js"></script>

    <!-- Source Includes -->
    <script type="text/javascript" src="../scripts/trimeshter.js"></script>
    <script type="text/javascript" src="../scripts/input/inputNetCursor.js"></script>
    <script type="text/javascript" src="../scripts/input/inputLeap.js"></script>
    <script type="text/javascript" src="../scripts/input/inputTouch.js"></script>
    <script type="text/javascript" src="../scripts/input/inputTuio.js"></script>
    <script type="text/javascript">
        // Create Trimeshter Interactive Scene
        var canvas = document.getElementById('canvas');
        var trimeshter = new mmm.Trimeshter(canvas);

        // create params object with all required config settings for inputs
        var params = {
            three: trimeshter.three,
            onStart: trimeshter.onStart,
            onMove: trimeshter.onMove,
            onEnd: trimeshter.onEnd,
            sendTouches: true,
            sendMouse: false
        };

        window.leapInput = new mmmInput.LeapInput(params);
        var netCursor = new mmmInput.NetCursor(params);
        var touchInput = new mmmInput.TouchInput(params);
        var tuioCursor = new mmmInput.TuioCursor(params);

        trimeshter.config.drift.y = -0.1;
    </script>
</body>
</html>