<html>
<head>
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>

    <!-- Library Includes -->
    <script type="text/javascript" src="../scripts/vendor/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/three/three.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/three/THREEx.WindowResize.js"></script>
    <script type="text/javascript" src="../scripts/vendor/dat.gui.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/leap/leap-0.6.0.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/leap/leap-plugins-0.1.6.min.js"></script>
    <script type="text/javascript" src="../scripts/vendor/leap/leap.rigged-hand-0.1.4.js"></script>
    <script type="text/javascript" src="../scripts/vendor/tween/TweenMax.min.js"></script>

    <!-- Source Includes -->
    <script type="text/javascript" src="../scripts/trimeshter.js"></script>
    <script type="text/javascript" src="../scripts/input/inputLeap.js"></script>
</body>
</html>