<!DOCTYPE html>
<html style="overflow: hidden; margin:0; padding: 0">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>

    </head>
    <body style="margin:0; padding: 0" background="#ffffff">
        <!-- Library Includes -->
        <script type="text/javascript" src="../scripts/vendor/tween/TweenMax.min.js"></script>
        <script type="text/javascript" src="../scripts/vendor/dat.gui.min.js"></script>
        <script type="text/javascript" src="../scripts/vendor/three/three.min.js"></script>
        <script type="text/javascript" src="../scripts/vendor/three/THREEx.WindowResize.js"></script>

        <!-- Source Includes -->
        <script type="text/javascript" src="../scripts/tridraw.js"></script>

    </body>
</html>